******************************************************************
**                                                              **
**               IBM-PC Installation of DISLIN                  **
**                                                              **
**  Contents:  1.)  Introduction                                **
**             2.)  Installation of DISLIN                      **
**             3.)  Getting a DISLIN License                    **
**                                                              **
**  Date   :   15.04.2009                                       **
**  Version:   9.5 / Windows,  Intel Compiler Fortran 90 (ifort)**
**  Author :   Helmut Michels                                   **
**             MPI fuer Sonnensystemforschung,                  **
**             Max-Planck-Str. 2, 37191 Katlenburg-Lindau,      **
**             Germany                                          **
**             E-mail: michels@mps.mpg.de                       **
******************************************************************


1.)  Introduction

     This file describes the  installation  of the  data  plotting
     software DISLIN on IBM-PCs  for Windows and the Intel Fortran
     90 compiler ifort.


2.)  Installation of DISLIN

     The  DISLIN version for the Intel compiler ifort is distribu-
     ted  in  the  zipped file  dl_95_if.zip.  An  utility for un-
     packing the DISLIN files is  available from the same location
     where  you have  downloaded  dl_95_if.zip, or from the DISLIN 
     CD-ROM. 

     To install DISLIN, make the following steps:

  a) Create a temporary directory and copy the files dl_95_if.zip
     and unzip.exe to it:

     for example:   md  c:\temp
                    cd  c:\temp
                    copy e:\dislin\windows\unzip.exe    *.*
                    copy e:\dislin\windows\dl_95_if.zip *.*

  b) Extract the DISLIN files with the command:

                    unzip -o dl_95_if  

  c) Run the setup program with the command

                    setup

     -  Choose OK

     -  Give the Installation Directory where  DISLIN  should be in-
        stalled. The default directory is C:\DISLIN.

  d) Reconfigure the System

     Set the DISLIN environment variable to c:\dislin and include
     c:\dislin\win in your path. If you have installed DISLIN in a
     different directory, you have to use that directory for the 
     environment variables above.

     The setting of environment depends on your Windows version:

     Windows 98/ME

        Add the following commands to the autoexec.bat file

        PATH=c:\dislin\win;%PATH%
        SET DISLIN=c:\dislin   
   
     Windows NT/2000/XP/Vista

        Environment variables can be set or modified with the
        Control Panel 
        (see Control Panel -> System -> Advanced -> Environment Variables).

  e) Now you can compile,  link and run the example programs in the
     DISLIN subdirectory examples with the commands

                 F90LINK -a  exa_f90      (for ifort, Fortran 90)
     and
                 F90LINK -a  map_f90      (for ifort, Fortran 90)

     Notes:

      - F90LINK links by default with the single precision libraries 
        disif.lib and disdll.lib. Double precision versions of the 
        libraries are also included (disif_d.lib and disdll_d.lib).

      - The Dislin libraries disif.lib and disif_d.lib are compiled
        for using Intel Visual Fortran with MS Studio 2003 (libc).
        If you are using your Intel compiler with MS Studio 2005,
        you have to link with the Dislin libraries disifc.lib or
        disifc_d.lib which are compiled for libcmt. The Dislin link
        utility IFCLINK links with disifc.lib instead of disif.lib
        in F90link. 

      - If your compiler version does not recognize the format of the
        Dislin module file 'dislin.mod', you have to recompile the file
        'dislin.f90' in the directory DISLIN\ifc with your compiler 
        version (i.e. ifort -c dislin.f90). 'dislin.mod' is created
        with Intel Visual Fortran 9.1.


3.)  Getting a DISLIN License

     DISLIN is free for non-commercial use. Licenses for commercial
     use, or for just supporting DISLIN, are available from the site 
     http://www.dislin.de. 


