*.o
*.obj
*.mod
*.ini
*.csv
*.orig
*.DS_Store
*LOGFILE*.txt
webpages/styles
webpages/Templates
webpages/Library
webpages/includes
webpages/images
build
doc/doxygen
doc/doxygen/html
doc/doxygen/html/*
doc/doxygen/html/*.*
share/Redistributables
share/external
share/related_codes/Hawaii_Water_Budget_Code/
